localhost {
    handle_path /api* {
        handle /buildings* {
            reverse_proxy buildings_service:8080
        }

        handle {
            respond "404 Not Found" 404
        }
    }

    handle {
        respond "404 Not Found" 404
    }
}
